/* .Aside {
    width: 45%;
    float: left;
    padding: 7px;
    margin-left: 12px;
    border-radius: 15px;
    border-top: 1px;
    border: 1px solid #1A4D2E;
    background-color: #4f6f5262;
}

.blog h2{
    text-align: center;
}

.blog p{
    text-align: justify;
}

.blog h5{
    font: 12px;
} */